.heading{
    text-align: center;
    
}
.bg{
    margin-top:-20px;
        background-size: cover;
        height:500px;
        width: 100%;
        opacity: 0.8;
        background: linear-gradient(rgba(85, 77, 77, 0.5), rgba(71, 69, 69, 0.5)), url('assets/images/doc1.jpg');
       padding-top:160px;
       
    }
    