<body class="body">
    <app-header></app-header>

    <div class="bg">   
            <img src="assets/images/yoga3.jpg" height="500" width="100%">
    </div>
    <div class="thought_about">
            <p>" Meditation means the mind is turned back upon itself.The mind stops all the thought-waves and the world stops.Your consciousness expands,Every time you meditate you will keep your growth. "</p>
            <p class="thought_author">- Swamy Vivekananda</p>
    </div><br><br><br><br><br><br><br><br>
    

    
    <div class="bodydiv">
            
            <div class="row">
                    <div class="col-md-3">
                            <h1 class="allhead">ABOUT ADY</h1>
                    </div>
                    <div class="col-md-9" style="margin-top:10px;">
                            <hr>
                    </div>             
            </div><br><br>


            <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 about_text" style="text-align:center">
                            <p style="color:green;font-size:24px;">
                                    <sup><span> <i  class="fa fa-quote-left fa-3x qua_cap quotes" ></i></span></sup>
                                            Yoga is the perfect opportunity to be curious about who you are.
                                    <sup><span> <i  class="fa fa-quote-right fa-3x qua_cap quotes"></i></span></sup>
                            </p><br>

                            <p class="para"><strong>Atma Darshana Yoga </strong> works on Physical, Pranic, Emotional, Mental, Social, Cultural and Spiritual health levels of individuals, it helps in controlling Psychosomatic disorders like BP, Diabetes, Obesity, Back pain, Knee pain, Depression, Anxiety etc., it develops total Personality by improving Memory, Concentration, Self confidence, Moral courage.</p><br>
                            <p class="para" style="">Conducted 50+ Happy Family Yoga Programs in Bangalore, 
                                            Rishikesh, Singapore, Malaysia, Indonesia, Tibet, Nepal, Sri Lanka, Trinidad, St Lucia, 
                                            Austin, Houston, Dallas, Orlando, New Jersey, Atlanta, San Francisco, 
                                            Detroit and many other centers in USA.</p><br>
                                            <p class="para"><strong>Organized and Conducted Hundreds of FREE Yoga camps.</strong></p><br><br>
                                              
                                            
                                            <h1 style="color:orange;text-align:justify;">SUCCESSFULLY ORGANISED</h1><br>
                                            <p class="para">1. State Level Conference on Yoga &Naturopathy, during Feb 2009.</p>
                                            <p class="para">2. Organized Stop Diabetes Mellitus (SDM) Program for SVYASA Yoga University - 2010.</p>
                                            <p class="para">3. International Conference on Yoga &Naturopathy (ICYN), during Feb 2012.</p>
                                            <p class="para">4. International Conference on Yoga, Ayurveda and Spirituality (ICYAS), during 2013.</p> <br><br>
                                    
                                            <h1 style="color:orange;text-align:justify;">DESIGNED AND CONDUCTING SPECIAL HAPPY FAMILY (ATMA DARSHANA) YOGA FOR</h1><br>
                                            <p class="para">1. Life style disorders.</p>
                                            <p class="para">2. Memory & Concentration.</p>
                                            <p class="para">3. Family relationship.</p>
                                            <br><br><br>
                                            
                    </div>
            </div>



           


    </div>




    <app-footer></app-footer>
</body>
