<body class="body">
    <app-header></app-header><br><br>

    <div class="bodydiv">
                
        <div class="row">
                <div class="col-md-3">
                        <h1 class="allhead">YOGA CLASSES</h1>
                </div>
                <div class="col-md-9" style="margin-top:10px;">
                        <hr>
                </div>             
        </div><br><br>

        <div class="row">
            <div class="col-md-7 col-sm-12 col-xs-12" >
                <p style="color:orange;text-align:justify;font-size:20px;">DEFINITION :</p>
                <p class="para"> Yoga is a practical aid, not a religion. Yoga is an ancient art based on a harmonizing system of development for the body, mind, and spirit. The continued practice of yoga will lead you to a sense of peace and well-being, and also a feeling of being at one with their environment.</p><br>
                <p style="color:orange;text-align:justify;font-size:20px;">BRIEF DESCRIPTION :</p>
                <p class="para"> The Sanskrit word yoga has many meanings, and is derived from the Sanskrit root yuj, meaning to control, to yoke or to unite.</p>
                <p class="para">Translations include joining, uniting, union, conjunction and means. Outside India, the term yoga is typically associated with Hatha Yoga and its asanas (postures) or as a form of exercise.</p>
                <p class="para">Major branches of yoga include Raja Yoga, Karma Yoga, Jnana Yoga, Bhakti Yoga, and Hatha Yoga. Raja Yoga, compiled in the Yoga Sutras of Patanjali, and known simply as yoga in the context of Hindu philosophy, is part of the Samkhya tradition. Many other Hindu texts discuss aspects of yoga, including the Vedas, Upanishads, the Bhagavad Gita, the Hatha Yoga Pradipika, the Shiva Samhita and various Tantras.</p><br>

            </div>

              <div class="col-md-5 colyogaimg">
                  <img src="/assets/images/asana.png" class="yogaimg">
              </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p style="color:orange;text-align:justify;font-size:20px;">BENEFITS :</p>
               
                <p class="para"> Benefits of yoga includes enhanced blood circulation, lowered blood pressure, lowered respiratory rate, better cardiovascular endurance, stimulation of organs, improvement in gastrointestinal health,                                 increased immunity, higher levels of pain tolerance, increased metabolism, renewed energy, sleep etc.</p><br>
           
                <button type="button" class="subbut" data-toggle="modal" data-target="#exampleModal" >
                    BOOK AN APPOINTMENT
                  </button>
            </div>
        </div>  

     
          

    </div><br><br>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog " role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title" id="exampleModalLabel">BOOK AN APPOINTMENT</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div> 
             <div class="modal-body">
                <form novalidate #f="ngForm" (ngSubmit)="onSubmit(); f.reset()" class="signupform" name="myForm">
                                  
                    <div class="form-group">
                            <span class="input-group-addon" style="color:white; background-color: orange;width:40px;height:40px;">
                             <i class="glyphicon glyphicon-glyphicon glyphicon-user"></i>
                            </span>
                                                                    
                            <input type="text" class="form-control inputfield" id="fname" placeholder="Your Name" name="fname"[(ngModel)]="user.fname" #userfname="ngModel" minlength="3" maxlength="15" pattern="^[a-zA-Z][a-zA-Z\s]{2,15}$" required>
                     </div>
                    <div class="alert alert-danger" *ngIf="userfname.touched && !userfname.valid">
                            <div *ngIf="userfname.errors.required"> Name is required.</div>
                            <div *ngIf="userfname.errors.minlength"> Name should be minimum {{ userfname.errors.minlength.requiredLength }} and maximum 15 characters.</div>
                            <div *ngIf="userfname.errors.pattern">Only alphabets are allowed.</div>
                    </div>
                                                    
                                                    
                    <div class="form-group">
                            <span class="input-group-addon" style="color:white; background-color: orange;width:40px;height:40px;">
                            <i class="glyphicon glyphicon-glyphicon glyphicon-earphone"></i>
                            </span>
                            <input type="text" class="form-control inputfield" id="phone" 
                            placeholder="Your Phone" name="phone" [(ngModel)]="user.phone"
                            #userphone="ngModel" minlength="10" maxlength="10" pattern="^[6789][0-9]{0,10}$" required >
                    </div>
                    <div *ngIf="userphone.errors?.maxlength || userphone.errors?.minlength && userphone.touched" class="alert alert-danger">Enter a 10 digit phone number</div>
                    <div *ngIf="userphone.errors?.pattern" class="alert alert-danger">Please provide a valid phone number</div> 
                    <div *ngIf="userphone.errors?.required && userphone.touched" class="alert alert-danger">Phone Number is required</div>
                                                    
                                                    
                                                    
                    <div class="form-group">
                            <span class="input-group-addon" style="color:white; background-color: orange;width:40px;height:40px;">
                            <i class="glyphicon glyphicon-glyphicon glyphicon-envelope"></i>
                            </span>
                            <input type="text" class="form-control inputfield" id="email" placeholder="Your Email" name="email"[(ngModel)]="user.email"
                            #useremail="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
                    </div>
                    <div *ngIf="useremail.errors?.required && useremail.touched" class="alert alert-danger">Email is required</div>
                    <div *ngIf="useremail.errors?.pattern" class="alert alert-danger">Please provide a valid email address</div> 

                                                
                                              
                                      
                    <div class="form-group">
                            <span class="input-group-addon" style="color:white; background-color: orange;width:40px;height:86px;">
                            <i class="glyphicon glyphicon-glyphicon glyphicon-pencil"></i>
                            </span>
                            <textarea rows="5" class="form-control textareafield" id="comment" 
                            placeholder="Comment" name="comment" [(ngModel)]="user.comment"
                            #usercomment="ngModel" minlength="25" required ></textarea>
                    </div>
                    <div *ngIf="usercomment.errors?.required && usercomment.touched" class="alert alert-danger">Comment is required</div>
                    <div *ngIf=" usercomment.errors?.minlength && usercomment.touched" class="alert alert-danger">Minimum 25 characters required</div><br>
                   
                    <div class="form-group ">
                      <label>Start Date</label>
                        <span class="input-group-addon" style="color:white; background-color: orange;width:40px;height:40px;">
                            <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                            <input type="date" class="form-control inputfield" id="example-date-input" >
                          
                        </div>
                        
                      
                        <div class="form-group ">
                            <label>End Date</label>
                            <span class="input-group-addon" style="color:white; background-color: orange;width:40px;height:40px;">
                                <i class="glyphicon glyphicon-calendar"></i>
                                </span>
                                <input type="date" class="form-control inputfield" id="example-date-input"  >
                             
                            </div>

                    <button type="submit" class="subbut2" [disabled]="f.form.invalid">Submit</button>
                      
                  </form>
            </div>
            <div class="modal-footer">
              <button type="button"  data-dismiss="modal">Close</button>
              
            </div>
          </div>
        </div>
      </div>





    <app-footer></app-footer>
  </body>
  