<body class="body">
    <app-header></app-header>

    <div class="row">
    <div class="bg">   
        <img src="assets/images/founder.png" height="500" width="1305">
</div>
<div class="thought_about">
        <p>" It is the health that is the real wealth and not pieces of gold and silver. "</p>
        <p class="thought_author">- Mahatma Gandhi</p>
</div>
</div><br><br><br><br>

<div class="bodydiv">

    <div class="row">   
            <div class="col-md-3">
                    <h1 class="allhead">TESTIMONIALS</h1>
            </div>
            <div class="col-md-9" style="margin-top:10px;">
                    <hr>
            </div>             
    </div><br><br>

    <div class="row">
            <div class="col-md-4 content">
                    <div class="boxcontent">
                            <a [routerLink]="['/about']"><img src="assets/images/abt_new.jpg" alt="Avatar" class="image"></a> 
                            <p class="para2">There is total improvement of Health</p>
                            <a [routerLink]="['/about']"> 
                                    <div class="overlay">
                                    <div class="text">- Ravindranath (Family & Engineer)</div>
                                    </div>
                            </a>
                    </div>
                   
            </div>



            
            <div class="col-md-4 content">
                    <div class="boxcontent">
                            <a [routerLink]="['/about']"><img src="assets/images/abt_new.jpg" alt="Avatar" class="image"></a> 
                            <p class="para2">Helped in sinusitus & improvement in family.</p>
                            <a [routerLink]="['/about']"> 
                                    <div class="overlay">
                                    <div class="text">- Dr. Prashanth (M.B.B.S)</div>
                                    </div>
                            </a>
                    </div>
                    
            </div>


            <div class="col-md-4 content">
                    <div class="boxcontent">
                            <a [routerLink]="['/about']"><img src="assets/images/abt_new.jpg" alt="Avatar" class="image"></a> 
                            <p class="para2">I Got rid of Blood Pressure of last 20 years.</p>
                            <a [routerLink]="['/about']"> 
                                    <div class="overlay">
                                    <div class="text">- Ramesh Nagarkar (Retd. Bank Manager)</div>
                                    </div>
                            </a>
                    </div>
            </div>

</div><br><br><br>


<div class="row">
        <div class="col-md-4 content">
                <div class="boxcontent">
                        <a [routerLink]="['/about']"><img src="assets/images/abt_new.jpg" alt="Avatar" class="image"></a> 
                        <p class="para2">I am always active after attending ADY.</p>
                        <a [routerLink]="['/about']"> 
                                <div class="overlay">
                                <div class="text">- Chandrakala (Software Engineer)</div>
                                </div>
                        </a>
                </div>
        </div>

        <div class="col-md-4 content">
                <div class="boxcontent">
                        <a [routerLink]="['/about']"><img src="assets/images/abt_new.jpg" alt="Avatar" class="image"></a> 
                        <p class="para2">Over all health improvement & play a active role in every activities.</p>
                        <a [routerLink]="['/about']"> 
                                <div class="overlay">
                                <div class="text">- Shyam Mahendrakar (Supervisor)</div>
                                </div>
                        </a>
                </div>
        </div>


        <div class="col-md-4 content">
                <div class="boxcontent">
                        <a [routerLink]="['/about']"><img src="assets/images/abt_new.jpg" alt="Avatar" class="image"></a> 
                        <p class="para2">Increasing self confidence.</p>
                        <a [routerLink]="['/about']"> 
                                <div class="overlay">
                                <div class="text">- Sangamesh S Patil (Professional)</div>
                                </div>
                        </a>
                </div>
        </div>

</div><br><br><br>

<div class="row">
        <div class="col-md-4 content">
                <div class="boxcontent">
                        <a [routerLink]="['/about']"><img src="assets/images/abt_new.jpg" alt="Avatar" class="image"></a> 
                        <p class="para2">Decrease in stress, more confidence in me.</p>
                        <a [routerLink]="['/about']"> 
                                <div class="overlay">
                                <div class="text">-  Kiran (Student)</div>
                                </div>
                        </a>
                </div>
        </div>


        <div class="col-md-4 content">
                <div class="boxcontent">
                        <a [routerLink]="['/about']"><img src="assets/images/abt_new.jpg" alt="Avatar" class="image"></a> 
                        <p class="para2">I have started think positively in all matter.</p>
                        <a [routerLink]="['/about']"> 
                                <div class="overlay">
                                <div class="text">- Rajeshwari (Teacher)</div>
                                </div>
                        </a>
                </div>
        </div>
</div><br><br><br>

</div>

    <app-footer></app-footer>

  </body>