<body class="body">
    <app-header></app-header>

    <div class="bg">   
        <img src="assets/images/founder.png" height="500" width="100%">
</div>
<div class="thought_about">
        <p>" It is the health that is the real wealth and not pieces of gold and silver. "</p>
        <p class="thought_author">- Mahatma Gandhi</p>
</div><br><br><br><br><br><br><br><br><br><br><br><br>

<div class="bodydiv">

    <div class="row">   
            <div class="col-md-3">
                    <h1 class="allhead">Testimonials</h1>
            </div>
            <div class="col-md-9" style="margin-top:10px;">
                    <hr>
            </div>             
    </div><br><br>

    <div class="row">
        <div class="col-md-4 container ">
            <img src="assets/images/abt.jpg" alt="Notebook" style="width:100%;">
            <div class="content">
              <h1>There is total improvement of Health</h1><br>
              <p>- Ravindranath (Family & Engineer)</p>
            </div>
        </div>
        <div class="col-md-4 container ">
            <img src="assets/images/abt.jpg" alt="Notebook" style="width:100%;">
            <div class="content">
              <h1>Helped in sinusitus & improvement in family.</h1><br>
              <p>- Dr. Prashanth (M.B.B.S)</p>
            </div>
        </div>

        <div class="col-md-4 container ">
            <img src="assets/images/abt.jpg" alt="Notebook" style="width:100%;">
            <div class="content">
              <h1>I Got rid of Blood Pressure of last 20 years.</h1><br>
              <p>- Ramesh Nagarkar (Retd. Bank Manager)</p>
            </div>
        </div>
</div><br><br><br>


<div class="row">
    <div class="col-md-4 container ">
        <img src="assets/images/abt.jpg" alt="Notebook" style="width:100%;">
        <div class="content">
          <h1>I am always active after attending ADY.</h1><br>
          <p>- Chandrakala (Software Engineer)</p>
        </div>
    </div>
    <div class="col-md-4 container ">
        <img src="assets/images/abt.jpg" alt="Notebook" style="width:100%;">
        <div class="content">
          <h1>Over all health improvement & play a active role in every activities.</h1><br>
          <p>- Shyam Mahendrakar (Supervisor)</p>
        </div>
    </div>

    <div class="col-md-4 container ">
        <img src="assets/images/abt.jpg" alt="Notebook" style="width:100%;">
        <div class="content">
          <h1>Increasing self confidence.</h1><br>
          <p>- Sangamesh S Patil (Professional)</p>
        </div>
    </div>
</div><br><br><br>


</div>

    <app-footer></app-footer>

  </body>