/* .bg-light{
    background-color:transparent !important;
    height:90px;
    box-shadow:0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}
#header_right{
    color: white;
}
.navbar-brand{
    font-size:16px;
    font-family: 'Jura', sans-serif;
    font-weight: bold; 
    
}
.nav-item{
    font-size:15px;
    margin-left:25px;
    font-family: 'Jura', sans-serif;
    font-weight: bold;
    
}
.nav-link{
    color:#ff9933 !important;
}
.nav-item a{
    letter-spacing: 2px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
   color:green !important;
} 
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:active{
    color:green !important;
 } 
.logotxt h2{
    font-family: 'Abril+Fatface', cursive;
    color:green;
    letter-spacing: 1px;
}
.logoimg{
    margin-top:-22px !important;
}
.navbar-collapse{
    padding-left:50px;
    
} */

.topnav{
    background-color:transparent !important;
    height:auto;
    box-shadow:0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}
.logotxt{
    font-family: 'Abril+Fatface', cursive;
    color:green;
    letter-spacing: 1px;
    margin-top:10px; 
}
/* .navbar-nav{
    margin-left:10px;
} */
.nav-item{
    font-size:15px;
    font-family: 'Jura', sans-serif;
    font-weight: bold;
    margin-left:25px;
}
.nav-link{
    color:#ff9933 !important;
}
.nav-item a{
    letter-spacing: 2px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
   color:green !important;
} 


@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.ady {
    -webkit-animation: blink 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: blink 1s;
    -moz-animation-iteration-count: infinite;
    -o-animation: blink 1s;
    -o-animation-iteration-count: infinite;
}





@media(min-width:0px) and (max-width:400px){

.logoimg{
    margin-right:130px;
}
.navbar-brand{
    margin-top:10px;
}
.ady{
    display: none;
}
.navbar-toggler{
    margin-left:290px;margin-top:-50px;
}

}