
<!-- <nav class="navbar navbar-fixed-top  navbar-expand-md bg-light navbar-light custnav">
  <div class="container-fluid">

<a class="navbar-brand" href="#"><img class="logoimg" src="assets/images/logo.png" height="90" width="90"></a>
<span class="logotxt"><h2><b>ATMA DARSHANA YOGA</b></h2></span>

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="collapsibleNavbar">
<ul class="navbar-nav">
  <li class="nav-item">
    <a class="nav-link" href="">HOME</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="about" >ABOUT</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="founder">FOUNDER</a>
</li> 
  <li class="nav-item">
          <a class="nav-link" href="services">SERVICES</a>
  </li> 
  <li class="nav-item">
    <a class="nav-link" href="events">EVENTS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="gallery">GALLERY</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="contact">CONTACT US</a>
  </li> 
</ul>
</div> 
</div> 
</nav>
 -->


 <nav class="navbar navbar-expand-md bg-light navbar-light topnav">
  <a href="#"><img class="logoimg" src="assets/images/logo.png" height="90" width="90"></a>
  <a class="navbar-brand" href="home"><h2 class="logotxt"><b>ATMA DARSHANA YOGA</b></h2></a>
  <a href="services"><img class="ady" src="assets/images/ady.png" height="70" width="70"/></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
          <!-- <li class="nav-item">
              <a class="nav-link" href=""><img class="ady" src="assets/images/ady.png" /></a>
            </li> -->
          <li class="nav-item">
            <a class="nav-link" href="">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about" >ABOUT</a>
          </li>
          <li class="nav-item">
                  <a class="nav-link" href="services">SERVICES</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="events">EVENTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="gallery">GALLERY</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="founder">TEAM</a>
        </li> 
          <li class="nav-item">
            <a class="nav-link" href="contact">CONTACT US</a>
          </li> 
        </ul>
  </div> 
</nav>



