
<!-- <div class="row footer">
        <div class="col-md-3">

                <a href="https://www.facebook.com/login/?next=https%3A%2F%2Fwww.facebook.com%2Fgroups%2F603001813046956%2F" target="_blank">
                                <i class="fa fa-facebook-square" style="font-size:36px;color:white;margin-left:50px;padding-top:15px;"></i>
                </a>
        
                        <a  href="#">
                                <i class="fa fa-twitter-square" style="font-size:36px;color:white;padding-left:15px;"></i>
                        </a>

                        <a  href="https://www.youtube.com/watch?v=vL-BBjSTnVM&feature=youtu.be" target="_blank">
                                <i class="fa fa-youtube-square" style="font-size:36px;color:white;padding-left:15px;"></i>
                        </a>
        </div>
        <div class="col-md-6" style="padding-left:20px;">
                        <p class="footer_text1">© Copyright 2018 - Atma Darshana Yoga | | Powered by <a href="http://tekvity.com/" style="color:white;">TEKVITY PVT LTD.</a></p>
        </div>
        <div class="col-md-3" style="padding-left:20px;">
                        <p class="footer_text"><span class="glyphicon glyphicon-earphone"></span> +91 80 28560168</p>
                        <p class="footer_text"><span class="glyphicon glyphicon-envelope"></span> info@atmadarshanayoga.in</p>
        </div>


</div> -->

<div class="row footer">
        <div class="col-md-3">
                <a href="https://www.facebook.com/login/?next=https%3A%2F%2Fwww.facebook.com%2Fgroups%2F603001813046956%2F" target="_blank">
                                <i class="fa fa-facebook-square social" ></i>
                </a>
                <a  href="#">
                         <i class="fa fa-twitter-square social" ></i>
                </a>
                <a  href="https://www.youtube.com/watch?v=vL-BBjSTnVM&feature=youtu.be" target="_blank">
                        <i class="fa fa-youtube-square social"></i>
                </a>
        </div>
        <div class="col-md-6" style="padding-top:20px;">
                <p class="footer_text">© Copyright 2018 - Atma Darshana Yoga | | Powered by <a href="http://tekvity.com/" target="_blank" style="color:white;">TEKVITY PVT LTD.</a></p>
        </div>
        <div class="col-md-3" style="padding-top:20px;">
                <p class="footer_text"><span class="glyphicon glyphicon-earphone"></span> +91 80 28560168</p>
                <p class="footer_text"><span class="glyphicon glyphicon-envelope"></span> info@atmadarshanayoga.in</p>
        </div>
</div>