
<body class="body">

        <app-header></app-header>

        <div class="bg">   
                <img src="assets/images/bannertop1.jpeg" class="bannerimg">
        </div>
        <div class="thought_about">
                <p>" The goal of meditation isn't to control your thoughts, it's to stop letting them control you. "</p>
                <p class="thought_author">- Buddha</p>
        </div><br><br><br>

        <div class="bodydiv">

                <div class="row">
                        <div class="col-md-2">
                                <h1 class="allhead">GALLERY</h1>
                        </div>
                        <div class="col-md-10" style="margin-top:10px;">
                                <hr>
                        </div>
                                
                </div><br>


                <div class="row rowhome">
                        <div class="col-md-4 content">
                                <div class="boxcontent border rounded">
                                        <img src="assets/images/gallery/g1.jpg" alt="Avatar" class="image">
                                        
                                </div>
                
                        </div>
                        <div class="col-md-4 content">
                                <div class="boxcontent border rounded">
                                        <img src="assets/images/gallery/g2.jpg" alt="Avatar" class="image">
                                </div>
                                
                        </div>
                        <div class="col-md-4 content">
                                <div class="boxcontent border rounded">
                                        <img src="assets/images/gallery/g3.jpg" alt="Avatar" class="image">
                                        
                                
                                </div>
                        </div>
                </div> 

                <div class="row rowhome">
                        <div class="col-md-4 content ">
                                <div class="boxcontent border rounded">
                                        <img src="assets/images/gallery/g4.jpg" alt="Avatar" class="image">
                                        
                                </div>
                
                        </div>
                        <div class="col-md-4 content">
                                <div class="boxcontent border rounded">
                                        <img src="assets/images/gallery/g5.jpg" alt="Avatar" class="image">
                                </div>
                                
                        </div>
                        <div class="col-md-4 content">
                                <div class="boxcontent border rounded">
                                        <img src="assets/images/gallery/g6.jpg" alt="Avatar" class="image">
                                        
                                
                                </div>
                        </div>
                </div>

                <div class="row rowhome">
                        <div class="col-md-4 content ">
                                <div class="boxcontent border rounded">
                                        <img src="assets/images/gallery/g7.jpg" alt="Avatar" class="image">
                                        
                                </div>
                
                        </div>
                        <div class="col-md-4 content">
                                <div class="boxcontent border rounded">
                                        <img src="assets/images/gallery/g8.jpg" alt="Avatar" class="image">
                                </div>
                                
                        </div>
                        <div class="col-md-4 content">
                                <div class="boxcontent border rounded">
                                        <img src="assets/images/gallery/g9.jpg" alt="Avatar" class="image">
                                        
                                </div>
                        </div>
                </div>

        </div><br><br>

        <app-footer></app-footer>
</body>