
<body class="body">

        <app-header></app-header>

        <div class="bg">   
                <img src="assets/images/blue.jpg" class="bannerimg">
        </div>
        <div class="thought_about">
                <p>" If you can control the rising of the mind into ripples, you will experience Yoga. "</p>
                <p class="thought_author">- Patanjali</p>
        </div><br><br><br>

        <div class="bodydiv">

                <div class="row">
                        <div class="col-md-2">
                                <h1 class="allhead">EVENTS</h1>
                        </div>
                        <div class="col-md-10" style="margin-top:10px;">
                                <hr>
                        </div>      
                </div><br>

                <div class="row rowhome">
                        <div class="col-md-6 col-sm-12 content">
                                <div class="boxcontent border border-success rounded">
                                        <img src="assets/images/eventsofady.jpg" alt="Avatar" class="image">
                                        
                                </div>
                
                        </div>
                        <div class="col-md-6 col-sm-12 content">
                                <div class="boxcontent border border-success rounded">
                                        <img src="assets/images/eventsofady1.jpg" alt="Avatar" class="image">
                                </div>
                                
                        </div>           
                </div> 

        </div><br><br>



        <app-footer></app-footer>
</body>