
<body class="body">

    <app-header></app-header><br><br>

    <!-- <div class="bg">   
            <img src="assets/images/founder.png" height="500" width="100%">
    </div>
    <div class="thought_about">
            <p>" It is the health that is the real wealth and not pieces of gold and silver. "</p>
            <p class="thought_author">- Mahatma Gandhi</p>
    </div><br><br><br><br><br><br><br><br><br><br><br><br> -->

    <div class="bodydiv">

        <div class="row">   
                <div class="col-md-3">
                        <h1 class="allhead">OUR FOUNDER</h1>
                </div>
                <div class="col-md-9" style="margin-top:10px;">
                        <hr>
                </div>             
        </div><br><br>

        <div class="row" >
            <div class="col-md-4">
                <img src="/assets/images/trustees/dr.yogi_devraj.jpg" class="img-circle" alt="Dr.Yogi_Devraj"> 
            </div>
          
            <div class="col-md-7" style="padding-top:60px;">
                <div class="founder_info">
                    <p class="pfounder">Dr. Yogi Devaraj</p>
                </div>
                <div class="founder_info2">
                    <p style="margin-bottom:0px;color:#004C1F;">M.A (Eco), B.Com, LL.B, CAIIB, YICC, DAT, NDDY, PGDHRM, LMICAS,<br> M. Sc-Yoga(SVYASA), 
                    Jyothish Praveen, Jythoish Visharad, M.D (AM),<br> and M. Phil-Yoga, Ph. D-Yoga</p><br>
                   <p style="margin-bottom:0px;color:#004C1F;"> Kempegowda Award in YOGA from Govt. of Karnataka during 2012-13.</p>
                </div>
            
            </div>
        </div ><br><br>
          
        
        <div class="founder_card">
            <div class="row">
                <div class="col-md-8 col-sm-12 col-xs-12" >
                    <h1 class="headorange">POSITIONS HELD</h1><br>
                    <p class="para">1. Former Secretary / Executive President, Karnataka Pradesh Prakruthik Chikithsa Parishad.</p>
                    <p class="para">2. Founder President & Managing Trustee, Swami Vivekananda Yoga & Holistic Health Trust.</p>
                    <p class="para">3. Former Executive President, International Naturopathy Organization(INO), Karnataka.</p>
                    <p class="para">4. President, Vishwa Hindu Parisad, Yelahanka, Bengaluru .</p>
                    <p class="para">5. Hon President, International Healers Mission Trust (IHMT), Bengaluru.</p>
                    <p class="para">6. Trustee, Jnana Deepika Bhargavi Education Trust, Judicial Layout, Yelahanka, Bengaluru.</p>
                    <p class="para">7. Member, National Board, 1st World Parliament Spirituality, Hyderabad.</p>
                    <p class="para">8. President, JDB International School, Judicial Layout, Bengaluru.</p><br>
                
                    
                </div>
                <div class="col-md-3 info_image">
                    <img src="/assets/images/aura.png" class="foundimg" >
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                        <h1 class="headorange">SPECIAL ACHIEVEMENTS</h1><br>
                        <p class="para" >Undertaken PADAYATRA (walkathon) from Kanyakumari (Tamil Nadu) to New Delhi (around 3000 Kms.) from January 12, 2006 to August 14, 2006; visiting 9 States and 38 districts. Held more than 40 press meets, and visited more than 600 educational organizations. The motive of the walkathon was <strong>“Interlink all Rivers in India and supply water to all villages”</strong>.</p>
                </div>

            </div>
 

        </div><br><br><br>

        

    


    <div class="row">
            <div class="col-md-3">
                    <h1 class="allhead">OUR TRUSTEES</h1>
            </div>
            <div class="col-md-9" style="margin-top:10px;">
                    <hr>
            </div>      
    </div><br><br><br>

    <div class="row" >
            <div class="col-md-4" >
                    <div class="hovereffect">
                            <img src="assets/images/trustees/malathi.jpg" class="trustee_image img-thumbnail" alt="Cinque Terre">   
                            <div class="overlay">
                                    <h2>N.H MALATHI</h2>
                                    <a class="info" ><span class="glyphicons glyphicons-map-marker"></span> 
                                    #2, Siddharuda Nilaya, 8th Main, 13th Cross, <br>Judicial Layout,GKVK Post, <br>Bangalore - 560 065.<br>
                                    <span class="glyphicons glyphicons-earphone"></span> +91 8553639376</a>
                            </div>
                    </div>
            </div>

            <div class="col-md-4" >
                    <div class="hovereffect">
                            <img src="assets/images/trustees/gopi.jpg" class="trustee_image img-thumbnail "> 
                            <div class="overlay">
                                        <h2>A N Gopi</h2>
                                        <a class="info" ><span class="glyphicons glyphicons-map-marker"></span> President, Jnana Deepika Bhargavi Education Trust,<br> Judicial Layout,<br> Bangalore 560065.<br>
                                        <span class="glyphicons glyphicons-earphone"></span> +91 98452231323</a>
                            </div>
                    </div>   
            </div>


            <div class="col-md-4" >
                    <div class="hovereffect">
                             <img src="assets/images/trustees/preetham.jpg" class="trustee_image img-thumbnail">   
                             <div class="overlay">
                                        <h2>Dr. Preetham Dev</h2>
                                        <a class="info" ><span class="glyphicons glyphicons-map-marker"></span> MBBS, MS- GS, McH- Urology<br>
                                                preethamdev@gmail.com<br>
                                        <span class="glyphicons glyphicons-earphone"></span>  +91 97417 04262</a>
                            </div>
                    </div>    
            </div>

    </div><br><br><br>
</div>
    <!-- <div class="row">   
            <div class="col-md-4" style="margin-left:30px;">
                    <h1 class="allhead">OUR CO-ORDINATORS</h1>
            </div>
            <div class="col-md-7" >
                    <hr>
            </div>             
    </div><br><br>

    
    <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-4" >
                    <div class="hovereffect">
                            <img src="assets/images/trustees/sudhindra.jpg" class="trustee_image img-thumbnail" alt="Cinque Terre">   
                            <div class="overlay">
                                    <h2>Sudhindra N</h2>
                                    <a class="info" >
                                    <span class="glyphicons glyphicons-earphone"></span> +91 9036001214</a>
                            </div>
                    </div>
            </div>

            <div class="col-md-4" >
                    <div class="hovereffect">
                            <img src="assets/images/trustees/veena.jpg" class="trustee_image img-thumbnail "> 
                            <div class="overlay">
                                        <h2>Veena</h2>
                                        <a class="info" >
                                        <span class="glyphicons glyphicons-earphone"></span> +91 9036001215</a>
                            </div>
                    </div>   
            </div>
            <div class="col-md-2">
            </div>
    </div><br><br><br> -->


    <app-footer></app-footer>
</body>