
.bg{
    margin-top:-20px;
}

.thought_about{
    -webkit-animation: slideIn 8s forwards;  
    -moz-animation: slideIn 8s forwards;  
    animation: slideIn 8s forwards;
    margin-left:80px;
    height:220px;
    width: 87%;
    opacity:1;
    color:white;
    font-weight: bold;
    font-size: 35px;
    padding:40px;
    background: linear-gradient(rgba(85, 77, 77, 0.5), rgba(71, 69, 69, 0.5));
    margin-top:-360px;
    position: relative;
  }
  
  .thought_author{
    float:right;
    font-family: 'Tangerine', cursive;
    font-size: 46px;
    padding-bottom: 25px;
  }

  @-webkit-keyframes slideIn {
    0% {
    transform: translateX(-900px);
    }
    100% {
    transform: translateX(0);
    }
    }
    @-moz-keyframes slideIn {
    0% {
    transform: translateX(-900px);
    }
    100% {
    transform: translateX(0);
    }
    }
    @keyframes slideIn {
    0% {
    transform: translateX(-900px);
    }
    100% {
    transform: translateX(0);
    }
    }

.founder_info{
    height:50px;
    width: 70%; 
    opacity: 1;
    color:white;
    /* font-weight: bold; */
    font-size: 35px;
    padding-top:40px;
    padding-bottom:40px;
    padding-left:20px;
    background: linear-gradient(to left, rgba(255,155,0,0), rgba(255,160,00,1));
    position:relative; 
}
.founder_info2{
   margin-top:20px;
   height:150px;
   width: 97%;
   opacity: 1;
   color:white;
   /* font-weight: bold; */
   font-size: 15px;
   padding-top:15px;
   /* padding-bottom:60px; */
   padding-left:20px;
   background: linear-gradient(to left, rgba(255,155,0,0), rgba(255,160,00,1));
   position:relative;
}
.founder_card{
    width:100%;
    height: auto;
    background-color: white;
    box-shadow: 0px 5px 15px 0px #888888;
    padding-left:30px;
    padding-right:30px;
    padding-bottom:30px;
    padding-top:20px;
}
.founder_card2{
    height: auto;
    background-color: white;
    box-shadow: 0px 5px 15px 0px #888888;
    padding-left: 30px;
    padding-bottom:20px;
    padding-top:20px;
    padding-right:30px; 
} 

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 300px;
  height: 250px;
  position: absolute;
  overflow: hidden;
  top: 0;
  margin-left:30px;
  background-color: rgba(0,0,0,0.6);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(460px, -100px) rotate(180deg);
  -ms-transform: translate(460px, -100px) rotate(180deg);
  transform: translate(460px, -100px) rotate(180deg);
  -webkit-transition: all 0.2s 0.4s ease-in-out;
  transition: all 0.2s 0.4s ease-in-out;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  font-size:17px;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.hovereffect:hover h2 {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.hovereffect:hover a.info {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.trustee_image {
  display: block;
  width: 300px;
  height:250px;
  margin-left:30px;
  transition: .5s ease;
  backface-visibility: hidden;
  opacity: 1;
}

@media(min-width:0px) and (max-width:400px){
  .founder_info{
    height:130px;
  }
  .founder_info2{
    height:220px;
  }
  .info_image{
    margin-left:-50px;
    margin-top:-50px;
    width:100px;
  }
  
    .trustee_image {
      margin-left:0px;
      width: 300px;
      margin-bottom:20px;
     
    }
    .hovereffect .overlay {
      margin-left:0px;
    }
    .hovereffect h2{
      padding:0px;
    }
    .hovereffect a.info {
      padding-top:30px;
      margin-top:50px;
    }
  
}