

  <body class="body">

      <app-header></app-header><br><br>
  
      <div class="bodydiv">
  
        
      <div class="row">
              <div class="col-md-4">
                      <h1 class="allhead">OUR CO-ORDINATORS</h1>
              </div>
              <div class="col-md-8" style="margin-top:10px;">
                      <hr>
              </div>      
      </div><br><br><br>
  
      <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-4" >
                  <div class="hovereffect">
                          <img src="assets/images/trustees/sudhindra.jpg" class="trustee_image img-thumbnail" alt="Cinque Terre">   
                          <div class="overlay">
                                  <h2>Sudhindra N</h2>
                                  <a class="info" >
                                  <span class="glyphicons glyphicons-earphone"></span> +91 9036001214</a>
                          </div>
                  </div>
          </div>

          <div class="col-md-4" >
                  <div class="hovereffect">
                          <img src="assets/images/trustees/veena.jpg" class="trustee_image img-thumbnail "> 
                          <div class="overlay">
                                      <h2>Veena</h2>
                                      <a class="info" >
                                      <span class="glyphicons glyphicons-earphone"></span> +91 9036001215</a>
                          </div>
                  </div>   
          </div>
          <div class="col-md-2">
          </div>
  </div>

  <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-4" >
              <!-- <div class="hovereffect">
                      <img src="assets/images/trustees/sudhindra.jpg" class="trustee_image img-thumbnail" alt="Cinque Terre">   
                      <div class="overlay">
                              <h2>Sudhindra N</h2>
                              <a class="info" >
                              <span class="glyphicons glyphicons-earphone"></span> +91 9036001214</a>
                      </div>
              </div> -->
      </div>

      <div class="col-md-4" >
              <!-- <div class="hovereffect">
                      <img src="assets/images/trustees/veena.jpg" class="trustee_image img-thumbnail "> 
                      <div class="overlay">
                                  <h2>Veena</h2>
                                  <a class="info" >
                                  <span class="glyphicons glyphicons-earphone"></span> +91 9036001215</a>
                      </div>
              </div>    -->
      </div>
      <div class="col-md-2">
      </div>
</div>




  </div><br><br><br><br><br><br><br><br><br><br>
  
    
  
      <app-footer></app-footer>
  </body>