
<body class="body">
        <app-header></app-header>

        <div class="bg">   
                        <img src="assets/images/bg2.jpg" height="500" width="100%">
        </div><br><br><br>

        <div class="bodydiv">
                <div class="row">
                        <div class="col-md-3">
                                <h1 class="allhead">HISTORY OF YOGA</h1>
                        </div>
                        <div class="col-md-9" style="margin-top:10px;">
                                <hr>
                        </div>           
                </div><br><br>

                <p class="para">Yoga originated in ancient India thousands of years ago. The word “yoga” derives from the Sanskrit (ancient Indian language) word “yug,” meaning to yoke, or unite . Very systematic processes of yoga were written by great Sage Patanjali in 500BC. His path of Ashtanga yoga included yamas and niyamas, Asanas, Pranayama, Pratyahara, Dharana, Dhyan, Samadhi.</p>
                 <p class="para">Though many people in modern times think of yoga as just a physical practice that can help you become healthier physically, the deeper purpose of yoga practice is deeply spiritual and intended to help unite your individual soul with the universal consciousness.</p><br><br><br>

               

                <div class="row">
                        <div class="col-md-2">
                                <h1 class="allhead">OVERVIEW</h1>
                        </div>
                        <div class="col-md-10" style="margin-top:10px;">
                                <hr>
                        </div>
                                
                </div><br><br>


                <div class="row">
                        <div class="col-md-4 content">
                                <div class="boxcontent">
                                        <a [routerLink]="['/about']"><img src="assets/images/abt.jpg" alt="Avatar" class="image"></a> 
                                        <a [routerLink]="['/about']"> 
                                                <div class="overlay">
                                                <div class="text">ABOUT US</div>
                                                </div>
                                        </a>
                                </div>
                        </div>

                        <div class="col-md-4 content">
                                <div class="boxcontent">
                                        <a [routerLink]="['/services']"><img src="assets/images/yoga1.jpeg" alt="Avatar" class="image"></a>
                                        <a [routerLink]="['/services']">
                                                <div class="overlay">
                                                <div class="text">OUR SERVICES</div>
                                                </div>
                                        </a>
                                        
                                </div>
                                        
                        </div>

                        <div class="col-md-4 content">
                                <div class="boxcontent">
                                        <a [routerLink]="['/services']"><img src="assets/images/asana.png" alt="Avatar" class="image"></a>
                                        <a [routerLink]="['/services']">
                                                <div class="overlay">
                                                <div class="text">YOGA CLASSES</div>
                                                </div>
                                        </a>
                                        
                                </div>
                        </div>
                </div><br><br><br>


                <div class="row">
                        <div class="col-md-3">
                                <h1 class="allhead">TESTIMONIALS</h1>
                        </div>
                        <div class="col-md-9" style="margin-top:10px;">
                                <hr>
                        </div>                            
                </div><br><br><br>

               <a [routerLink]="['/testimonial']" style="text-decoration:none;"> <div id="demo" class="carousel slide"  data-interval="2000" data-ride="carousel">

                        <ul class="carousel-indicators">
                                <li data-target="#demo" data-slide-to="0" class="active"></li>
                                <li data-target="#demo" data-slide-to="1"></li>
                                <li data-target="#demo" data-slide-to="2"></li>
                                <li data-target="#demo" data-slide-to="3"></li>
                        </ul>

                        <div class="carousel-inner">
                                <div class="carousel-item active">
                                        <div class="testimonial">    
                                                <p >"There is total improvement of Health."</p>
                                                <p class="test_author">- Ravindranath (Family & Engineer)</p> 
                                        </div>
                                </div>
                                <div class="carousel-item">
                                        <div class="testimonial">    
                                                <p>"Helped in sinusitus & improvement in family."</p>
                                                <p class="test_author">- Dr. Prashanth (M.B.B.S)</p> 
                                        </div>
                                </div>
                                <div class="carousel-item">
                                                <div class="testimonial">    
                                                        <p>"I Got rid of Blood Pressure of last 20 years."</p>
                                                        <p class="test_author">- Ramesh Nagarkar (Retd. Bank Manager)</p> 
                                                </div>
                                  </div>
                                  <div class="carousel-item">
                                                <div class="testimonial">    
                                                        <p>"I am always active after attending ADY."</p>
                                                        <p class="test_author">- Chandrakala (Software Engineer)</p> 
                                                </div>
                                  </div>
                                  
                        </div>
                        <a class="carousel-control-prev" [routerLink]="['/#demo']" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" [routerLink]="['/#demo']" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                        </a>
                </div></a>

        </div><br><br>

        <app-footer></app-footer>

</body>